# Dependencies
node_modules
.pnpm-store

# Production / Build output
dist
build
out
.next

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment variables & secrets
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE & Editor files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvsopt
*.njsproj
*.sln
*.sw?

# OS metadata
.DS_Store
Thumbs.db

# Cloudflare / Wrangler
.wrangler
.dev.vars

# Supabase
supabase/.temp

# Coverage / Testing
coverage
.nyc_output
